{% layout "layout.liquid" %}
{% block content %}

<div class="form-container">
    <div class="edit-header">
        <h1 style="margin-bottom: 15px;">Update Post</h1>
        <form class="delete-button" action="/{{post.slug}}?_method=DELETE" method="post">
            <input type="submit" id="delete-button" value="Delete">
        </form>
    </div>
    <form action="/posts/{{post.slug}}?_method=PUT" method="POST">
        <fieldset>
            <label>
                Title: <input type="text" name="title" value="{{post.title}}" />
            </label>
            <label>
                Body: <textarea name="content">{{post.content}}</textarea>
            </label>
        </fieldset>
        <input type="submit" id="new-submit" value="Update" id="update-button" />
    </form>
</div>

{% endblock %}