{% assign new_button = 'anything' %}
{% layout "layout.liquid" %}
{% block content %}
    {% for post in posts %}
        <div class="post-container">
            <a href="/{{ user.username }}/{{post.slug}}"><h1>{{post.title}}</h1></a>
            <p>{{post.sanitizedHtml}}</p>
        </div>
    {% endfor %}
{% endblock %}